/* Cart */
.cart {
  padding: 2rem;
  background: #eee;
  color: #111;
  height: 100%;
  width: clamp(300px, 40%, 1000px);
  top: 0;
  right: 0;
  position: fixed;
  z-index: 5;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
  overflow-y: scroll;
}

.cart.open {
  transform: translateX(0%);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  cursor: pointer;
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.backdrop.open {
  visibility: visible;
  opacity: 1;
}

/* Cart Item */
.cartItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartItem {
  display: flex;
  margin: 1rem 0;
  width: 100%;
  justify-content: space-between;
}

.cartItem_title > * {
  width: 25ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cartItem_controls {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.cartItem_controls > input {
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 4px;
  max-width: 8ch;
  text-align: center;
  padding: 0.5rem;
}

/* hide arrows for number input fields */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.img {
  width: 200px;
  height: 200px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.total {
  text-align: start;
}

.cartItems > button {
  margin-top: 2rem;
  background-color: #c4c4c4;
  color: #111;
  font-size: 1.25rem;
  font-family: inherit;
  padding: 0.5rem 4rem;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-in-out;
}

.cartItems > button:hover{
  background-color: #111;
  color: #c4c4c4;
  transform: scale(1.1);
}