/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

button {
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}